.cardFatec{
    width: 35rem;
    border-radius:2%; 
    padding:5px 3px 3px 3px;
    box-shadow:3px 3px 5px #777;
}
.cardEquipe{
     border-radius:2%;
     box-shadow:3px 3px 5px #777;
}
.cardTextEquipe{
    padding:5px 0px 3px 10px;
}
.imgCard {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgCardEquipe {
    width:100%;
    border-radius: 2% 2% 0% 0%;
}